/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

/* Estilos de la sección del equipo */
.equipo {
  background-color: #b5cc6a;
  padding: 60px 0;
  overflow: hidden;
}

/* Estilos para cada miembro del equipo */
.equipo .miembro {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #ffffff;
  transition: transform 0.3s;
}

.equipo .miembro:hover {
  transform: translateY(-5px);
}

.equipo .miembro .fotoequipo {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
  position: relative;
}

.equipo .miembro .fotoequipo img {
  transition: transform 0.3s;
}

.equipo .miembro .fotoequipo:hover img {
  transform: scale(1.1) rotate(360deg);
  transition: transform 0.5s ease;
}

.equipo .miembro h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: rgb(6, 88, 31);
}

.equipo .miembro span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.equipo .miembro span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: black;
  bottom: 0;
  left: 0;
}

.equipo .miembro p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.equipo .miembro .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.equipo .miembro .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.equipo .miembro .social a i {
  color: rgb(27, 143, 104);
  /* el color deseado para los iconos */
  font-size: 16px;
  margin: 0 2px;
}

.equipo .miembro .social a:hover {
  background: #feca67;
}

.equipo .miembro .social a:hover i {
  color: #fff;
}

.equipo .miembro .social a+a {
  margin-left: 8px;
}

/* Estilos generales para secciones */
section {
  padding: 60px 0;
  overflow: hidden;
}

/* Estilos para títulos de sección */
.section-title {
  text-align: center;
  margin-top: 35px;
  padding-bottom: 15px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: rgb(5, 85, 10);
  margin-bottom: 30px;
}

.underline {
  width: 150px;
  height: 1px;
  background-color: black;
  margin: auto;
  margin-top: -20px;
}

.section-title p {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Estilos del footer */
footer {
  background-color: #fff;
  color: #c4dc5c;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

/* Estilos de los iconos sociales en el footer */
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #feca67;
  color: #fff;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.social-icons a:hover {
  background-color: rgb(1, 43, 14);
}
